streamlit  # To run the Streamlit app
pandas  # For data handling
numpy  # For numerical computations
scikit-learn  # For data preprocessing (MinMaxScaler)
tensorflow  # For building and running the LSTM model
